<h1>Patient Page</h1>

<p>Patient Name: <%= @patient.name %></p>
<p>Age: <%= @patient.age %></p>
<h2>Appointments</h2>

<ul>
  <% @patient.appointments.each do |a| %>
    <li> <%= link_to "appointment page", a %>
      <ul>
        <li>Date: <%= a.display_date %></li>
        <li>Doctor: <%= link_to a.doctor.name, a.doctor %></li>
      </ul>
    </li>
  <% end %>
</ul>

<h3><%= link_to "All Patients", patients_path %></h3>
